<<<<<<< HEAD:vite-project/src/HeaderTS.css
.header {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header__logo {
  display: flex;
  gap: 0 14px;
}

.header__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

}

.header__BoxLogo {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.header__menu li {
  flex-basis: calc(100% / 5);
}


@media screen and (max-width: 1000px) {
  .header__menu {
    flex-wrap: wrap;
    row-gap: 20px;
    flex: 1;
  }

  .Home {
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .About{
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Projects{
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Services {
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Contacts {
    flex: 0 1 calc(100% / 2 - 12px);
  }
}

@media screen and (max-width: 320px) {
  .header__menu {
    flex-wrap: wrap;
    row-gap: 20px;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .header__menu li {
    flex-basis: calc(100% / 3);
    font-size: 14px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .header__menu li {
    flex-basis: 100%;
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo {
    flex-basis: 50%;
  }
  .header__button {
    flex-basis: 50%;
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    flex-basis: 100%;
    text-align: center;
  }
  .header__button {
    flex-basis: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .header {
    gap: 10px;
  }
=======
.header {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.header__logo {
  display: flex;
  gap: 0 14px;
}

.header__button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;

}

.header__BoxLogo {
  display: flex;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}


@media screen and (max-width: 1000px) {
  .header__menu {
    flex-wrap: wrap;
    row-gap: 20px;
    flex: 1;
  }

  .Home {
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .About{
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Projects{
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Services {
    flex: 0 1 calc(100% / 2 - 12px);
  }

  .Contacts {
    flex: 0 1 calc(100% / 2 - 12px);
  }
}

@media screen and (max-width: 320px) {
  .header__menu {
    flex-wrap: wrap;
    row-gap: 20px;
    flex: 1;
  }
>>>>>>> 5dafb63b0f827df0435e9881084f2f65bc3d6fee:src/HeaderTS.css
}